/* .rom {
    padding: 20px;
  } */
  
.roms {
    background: none;
}

.merged > trough {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.merged > trough > progress {
    border-top-left-radius: 0px;
}